<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Lyrics</h3>
    </div>

<h3>Songs</h3><hr>
    <div class="row">

        <app-song-card class="col-md-6 col-xl-3 mb-4"></app-song-card>
        <app-song-card class="col-md-6 col-xl-3 mb-4"></app-song-card>
        <app-song-card class="col-md-6 col-xl-3 mb-4"></app-song-card>
        <app-song-card class="col-md-6 col-xl-3 mb-4"></app-song-card>
    </div>
<h3>Albums</h3><hr>
    <div class="row">

        <app-album-card class="col-md-6 col-xl-6 mb-4"></app-album-card>
        <app-album-card class="col-md-6 col-xl-6 mb-4"></app-album-card>
        <app-album-card class="col-md-6 col-xl-6 mb-4"></app-album-card>
        <app-album-card class="col-md-6 col-xl-6 mb-4"></app-album-card>
    </div>
</div>