<div class="d-flex align-items-center">
    <div class="container-fluid ">


        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="card shadow mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="text-primary font-weight-bold m-0">Drake - {{song}}</h6>
                        <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle"
                                data-toggle="dropdown" aria-expanded="false" type="button"><i
                                    class="fas fa-ellipsis-v text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-right animated--fade-in"
                                role="menu">
                                <p class="text-center dropdown-header"></p><a
                                    class="dropdown-item" role="presentation" href="">&nbsp;Visualize</a>
                              
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        {{lyrics}}
                    </div>
                </div>
            </div>
            
        </div>
        </div>
</div>
