<div class="card shadow mb-8">
    <div class="card-header py-3">
        <!-- <h6 class="text-primary font-weight-bold m-0">Album</h6> -->
        <h6 class="mb-0"><strong>{{albumTitles}}</strong></h6>
        <span class="text-xs">{{albumArtiste}}</span>
    </div>
    
          
    
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                    <app-album-song-card class="col-md-6 col-xl-6 mb-4" [albumSongNames]="albumSongName[0]"></app-album-song-card>
                    <app-album-song-card class="col-md-6 col-xl-6 mb-4" [albumSongNames]="albumSongName[1]"></app-album-song-card>
            </div>
            <div class="row">
                    <app-album-song-card class="col-md-6 col-xl-6 mb-4" [albumSongNames]="albumSongName[2]"></app-album-song-card>
                    <app-album-song-card class="col-md-6 col-xl-6 mb-4" [albumSongNames]="albumSongName[3]"></app-album-song-card>

            </div>
            

        </li>
    </ul>
</div>