<div >
        <div class="card shadow border-left-success py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                            <span>Title - {{ song }}</span></div><hr>
                        <div class="text-dark font-weight-bold h5 mb-0"><span>Lyrics</span></div>
                        <p>{{lyrics}} <span><a href="/"> ..more</a></span></p>
                    </div>
                    <div class="col-auto"><i class="fas fa-play fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>