<div >
        <div class=" shadow  py-2">
            <div class="card-body">
                <div class="row align-items-center no-gutters">
                    <div class="col mr-2">
                        <div class="text-uppercase text-success font-weight-bold text-xs mb-1">
                            <span style="color: rgb(90, 92, 105)">{{ albumSongNames }}</span></div>
                    </div>
                    <div class="col-auto"><i class="fas fa-play fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>